body {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgb(115, 147, 179);
}

#container {
    height: 500px;
    width: 500px;
    margin-top: 100px;
    background-color: white; 
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.tripleButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 8px;
    background-color: #436175;
    color: #F9FAF8;
    
    font-size: 14px;
    max-height: 32px;
    border: none;
}
